<div class="section green" id="contact">
  <div class="w-container">
  <div class="w-col w-col-4 align-right">
              <h1>Contact</h1>
          </div>
      <div class="w-row">
      <table class="contact-table">
        <tr>
          <td><h3>e-mail:</h3></td>
          <td><a style="text-decoration: none" href="mailto:amberaugerrdh@gmail.com?subject=Inquiry%20from%20Your%20Website"><h2 style="color: black" class="contact">amberaugerrdh@gmail.com&nbsp;</h2></a></td>
        </tr>
        <tr>
          <td><h3>social</h3></td> 
          <td>
          <div class="w-col w-col-3 w-col-small-3 w-col-tiny-3"><a href="https://www.linkedin.com/in/amber-auger-r-d-h-m-p-h-75269893"><img src="{{asset "images/1415407838_11-linkedin-128.png"}}" width="64" alt="545d1487509714b84259feff_1415407838_11-linkedin-128.png"></a>
                          </div>
                          <div class="w-col w-col-3 w-col-small-3 w-col-tiny-3"><a href="https://www.instagram.com/bloomah/"><img src="{{asset "images/1415407766_38-instagram-128.png"}}" width="64" alt="545d145d509714b84259fefc_1415407766_38-instagram-128.png"></a>
                          </div>
                          <div class="w-col w-col-3 w-col-small-3 w-col-tiny-3"></div>
                          <div class="w-col w-col-3 w-col-small-3 w-col-tiny-3"></div> 
          </td>
        </tr>
      </table>                    

      

          
{{!--           <div class="w-col w-col-6">
              <div class="w-row">
                  <div class="w-col w-col-3">
                      <h3>e-mail:&nbsp;<br>social: &nbsp;</h3>
                  </div>
                  <div class="w-col w-col-8">
                      <h3 class="contact"><a href="mailto:amberaugerrdh@gmail.com?subject=Inquiry%20from%20Your%20Website">amberaugerrdh@gmail.com&nbsp;</a></h3>
                      <div class="w-row">
                          <div class="w-col w-col-3 w-col-small-3 w-col-tiny-3"><img src="/assets/images/1415407838_11-linkedin-128.png" width="64" alt="545d1487509714b84259feff_1415407838_11-linkedin-128.png">
                          </div>
                          <div class="w-col w-col-3 w-col-small-3 w-col-tiny-3"><img src="/assets/images/1415407766_38-instagram-128.png" width="64" alt="545d145d509714b84259fefc_1415407766_38-instagram-128.png">
                          </div>
                          <div class="w-col w-col-3 w-col-small-3 w-col-tiny-3"></div>
                          <div class="w-col w-col-3 w-col-small-3 w-col-tiny-3"></div>
                      </div>
                  </div>
              </div>
          </div> --}}
      </div>
  </div>
</div>