body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin: 0 0px 10px;
  font-size: 38px;
  line-height: 37px;
  font-weight: 300;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: right;
}

h2:hover {
  text-decoration: underline;
}

h3 {
  margin: 0 10px 10px 0px;
  float: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-right: 16px;
  margin-bottom: 15px;
  color: #9ea8a4;
  font-size: 14px;
  line-height: 23px;
}

.button {
  display: inline-block;
  padding: 14px 26px;
  background-color: #25c485;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #b5b5b5;
}

.header {
  width: 100%;
  height: 530px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 3px 0 0 #000;
}

#authorName {
  font-size: 2em;
  max-width: 100%;
  margin-bottom: 20px;
}

#headerText {
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
  margin-top: 20%;
}

#subheaderText {
  margin-top: 50px;
  z-index: 2;
  width: 100%;
  text-align: center;
  position: relative;
}

.header img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  opacity: 0.6;
}

.post {
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.post-title {
  text-align: right;
}

time.post-date {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}

.post-content {
  margin-top: 20px;
}

section.post-content p {
  color: black;
}

.post-image {
  margin-left: 25%;
  margin-right: 25%;
  max-width: 50%;
  margin-top: 20px;
}

.bio-text {
  margin-top: 50px;
}

.header.sub-page {
  background-image: url('../images/profile-dude-blue.jpg');
  background-position: 50% 100%;
}

.section {
  padding-top: 65px;
  padding-bottom: 65px;
}

.section.grey {
  background-color: #f0f0f0;
}

.section.green {
  background-color: #32a879;
  color: #000;
}

.section.green.middle {
  background-color: rgba(50, 168, 121, .14);
}

.nav-link {
  display: block;
  margin-bottom: 8px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #32a879;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  text-transform: capitalize;
}

.nav-link:hover {
  color: #166bcc;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  margin-left: 5%;
  padding: 33px 19px 38px;
  border-top: 3px solid #25c485;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .05);
  width: 10%;
  max-width: 10%;

}

.logo {
  margin-bottom: 22px;
  font-size: 33px;
  line-height: 36px;
  font-weight: 300;
  text-align: right;
  text-transform: capitalize;
}

.align-right {
  width: auto;
  padding-right: 25px;
  clear: none;
  direction: ltr;
  text-align: right;
}

.align-right.articles {
  margin-right: 25px;
  margin-bottom: 10px;
  padding-right: 0px;
}

.image {
  margin-bottom: 20px;
  background-image: url('../images/10309491_10152272188214262_5249959562572932927_n.jpg');
  background-repeat: repeat;
  background-attachment: scroll;
}

.thumbnail {
  margin-right: 21px;
  margin-bottom: 26px;
  padding: 7px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
}

.journal-entry {
  display: block;
  margin-bottom: 19px;
  padding: 18px 20px;
  border: 1px solid #dce6e4;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #333;
  text-decoration: none;
}

.journal-entry:hover {
  background-color: rgba(50, 168, 121, .04);
}

.logo-link {
  color: #333;
  text-decoration: none;
}

.field {
  height: 53px;
  border: 1px solid #d1e6dd;
  box-shadow: inset 0 1px 0 0 transparent;
}

.field:focus {
  border-color: #24c786;
  box-shadow: inset 0 0 8px 0 transparent;
}

.field.comments {
  height: 101px;
}

.success {
  padding: 47px;
  background-color: #e3e3e3;
  color: #000;
  text-align: center;
}

.contact {
  float: none;
  color: black;
  text-align: left;
}

.underexperience {
  width: auto;
  height: auto;
  padding-top: 0px;
}

.portrait {
  width: 45%;
  height: 95%;
  margin-right: 15px;
  margin-left: 24px;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
}

.row {
  margin-right: 95px;
  margin-left: 93px;
  padding-left: 0px;
}

.align-left {
  margin-bottom: 12px;
}

.social {
  width: 64px;
  height: 64px;
  opacity: 0.8;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.social:hover {
  background-color: transparent;
  background-image: none;
  opacity: 1;
}

.email-color {
  color: rgba(0, 0, 0, .85);
  text-decoration: underline;
}

.link {
  float: right;
  clear: none;
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

.hidden_div {
  overflow: hidden;
  height: 1px;
  max-height: 1px;
  min-height: 1px;
}

.article_title {
  width: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  float: none;
}

.article_text {
  width: auto;
  float: right;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.article_container {
  padding-left: 12%;
}

.article_bio {
  margin-top: 20px;
  color: #000;
}

.article_body p {
  color: rgba(0, 0, 0, .89);
}

.article_author {
  margin-top: 0px;
  float: right;
  clear: none;
  text-align: right;
}

.article_preface {
  float: left;
  clear: none;
}

.article_publisher {
  width: auto;
  margin-right: 3px;
  float: left;
  clear: none;
  color: #333;
  text-decoration: none;
}

.article_publisher:hover {
  text-decoration: underline;
}

.article_original {
  margin-bottom: 10px;
}

.article_img {
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

.article_rte h6 {
  position: relative;
  bottom: 6px;
  font-size: 9px;
}
#pagination {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.nav-link.pagination {
  display: inline;
}

.page-number {
  padding: 0px 50px 0px 50px;
}

.articleTitle {
  color: black;
}

.contact-table {
  margin-left: 20px;
}

@media (max-width: 991px) {
  h2 {
    float: none;
    text-align: right;
  }
  .navigation {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 5px;
  }
  #subheaderText, #headerText {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .logo {
    width: 100%;
  }
  .align-right {
    padding-right: 10px;
  }
  .portrait {
    float: right;
  }
  .article_container {
    padding-left: 19%;
  }
}


@media (max-width: 767px) {
  h3 {
    float: none;
    font-size: 1em;
  }
  h1 {
    font-size: 2em;
  }
  .header {
    height: auto;
    background-attachment: scroll;
  }
  .section {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .navigation {
    position: static;
    min-width: 30%;
    padding-right: 10px;
    padding-left: 10px;
    background-color: hsla(0, 0%, 100%, .6);
    box-shadow: 0 0 0 1px transparent;
  }
  .align-right {
    text-align: left;
  }
  .thumbnail {
    margin-right: 14px;
    margin-bottom: 15px;
  }
  .portrait {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .post {
  max-width: 90%;
}
}

@media (max-width: 479px) {
  h3 {
    float: none;
    font-size: .67em;
  }
  h1 {
    font-size: 1.5em;
  }
  .post {
    max-width: 99%;
    margin-right: 5px;
    margin-left: 5px;
  }
  .section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  }
}

